{erl_opts, [
    debug_info,
    warn_export_all,
    warn_obsolete_guard,
    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{eunit_opts,
 [
    verbose
 ]}.

{deps, []}.

{profiles, [
  {test, [
    {deps, [{quickrand, "1.7.0"}]}
  ]}
]}.

{pre_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_build.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_build.sh"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {source_url, <<"https://github.com/benoitc/instrument">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, []}
]}.
