{erl_opts, [
    {src_dirs, ["src", "src/exporters", "src/propagators", "src/samplers", "src/processors"]},
    debug_info,
    warn_export_all,
    warn_obsolete_guard,
    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{eunit_opts,
 [
    verbose
 ]}.

{deps, [
  {hackney, "3.2.1"}
]}.

{profiles, [
  {test, [
    {deps, [
      {quickrand, "1.7.0"},
      {meck, "0.9.2"}
    ]}
  ]},
  {bench, [
    {erl_opts, [{src_dirs, ["src", "bench"]}]}
  ]}
]}.

{pre_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_build.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_build.sh"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {source_url, <<"https://github.com/benoitc/instrument">>},
    {extras, [
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        %% Book - Erlang Observability Handbook
        <<"book/00_introduction.md">>,
        <<"book/01_why_observability.md">>,
        <<"book/02_first_metrics.md">>,
        <<"book/03_labels.md">>,
        <<"book/04_understanding_traces.md">>,
        <<"book/05_effective_spans.md">>,
        <<"book/06_connecting_services.md">>,
        <<"book/07_logs.md">>,
        <<"book/08_exporters.md">>,
        <<"book/09_sampling.md">>,
        <<"book/10_complete_example.md">>,
        <<"book/appendix_a_quick_reference.md">>,
        <<"book/appendix_b_troubleshooting.md">>,
        %% Guides
        <<"guides/getting_started.md">>,
        <<"guides/instrumentation_guide.md">>,
        <<"guides/context_propagation.md">>,
        <<"guides/exporters.md">>,
        <<"guides/sampling_and_processing.md">>,
        <<"guides/client_tracing.md">>,
        <<"guides/features.md">>,
        <<"guides/benchmarks.md">>,
        <<"guides/design_and_internals.md">>,
        <<"guides/elixir_guide.md">>,
        %% Reference Guides
        <<"guides/metrics_reference.md">>,
        <<"guides/tracing_reference.md">>,
        <<"guides/semantic_conventions.md">>,
        <<"guides/testing_instrumentation.md">>,
        <<"guides/production_operations.md">>,
        <<"guides/migration.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"readme">>},
    {groups_for_extras, [
        {<<"Erlang Observability Handbook">>, [
            <<"book/00_introduction.md">>,
            <<"book/01_why_observability.md">>,
            <<"book/02_first_metrics.md">>,
            <<"book/03_labels.md">>,
            <<"book/04_understanding_traces.md">>,
            <<"book/05_effective_spans.md">>,
            <<"book/06_connecting_services.md">>,
            <<"book/07_logs.md">>,
            <<"book/08_exporters.md">>,
            <<"book/09_sampling.md">>,
            <<"book/10_complete_example.md">>,
            <<"book/appendix_a_quick_reference.md">>,
            <<"book/appendix_b_troubleshooting.md">>
        ]},
        {<<"Guides">>, [
            <<"guides/getting_started.md">>,
            <<"guides/instrumentation_guide.md">>,
            <<"guides/context_propagation.md">>,
            <<"guides/exporters.md">>,
            <<"guides/sampling_and_processing.md">>,
            <<"guides/client_tracing.md">>,
            <<"guides/features.md">>,
            <<"guides/benchmarks.md">>,
            <<"guides/design_and_internals.md">>,
            <<"guides/elixir_guide.md">>
        ]},
        {<<"Reference">>, [
            <<"guides/metrics_reference.md">>,
            <<"guides/tracing_reference.md">>,
            <<"guides/semantic_conventions.md">>,
            <<"guides/testing_instrumentation.md">>,
            <<"guides/production_operations.md">>,
            <<"guides/migration.md">>
        ]}
    ]}
]}.

{hex, [
    {doc, ex_doc},
    {files, [
        "src", "c_src", "include", "priv",
        "rebar.config", "rebar.lock",
        "README*", "readme*",
        "LICENSE*", "license*",
        "NOTICE",
        "CHANGELOG*", "changelog*",
        "do_build.sh", "do_cmake.sh"
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [hackney]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
