{erl_opts, [
    debug_info,
    warn_export_all,
    warn_obsolete_guard,
    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{eunit_opts,
 [
    verbose
 ]}.

{deps, []}.

{profiles, [
  {test, [
    {deps, [{quickrand, "1.7.0"}]}
  ]}
]}.

{pre_hooks,
   [{"(linux|darwin|solaris)", compile, "make -C c_src"},
       {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
   [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
       {"(freebsd)", clean, "gmake -C c_src clean"}]}.